[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
pytorch-pretrained-bert = "*"
torch = "==1.1.0"
tensorboardx = "*"
wikipedia = "*"
flask = "*"
goose3 = "*"

[requires]
python_version = "3.5"
