extends layout

block content
  section(class='header')
    div(class='container')
      h1(class='title')= title
      h5 Please select a functionality
      nav
        ul
          a(class='button button-primary', href='/nlp/summary') Summariser
        ul
          a(class='button button-primary', href='/nlp/question') Question and Answer
