
extends layout

block content
  section(class='header')    
    div(class='container')
      each question, index in questions
        h2(class='title')= question
        if answers[index].text == "empty" || answers[index].text == ""
          h5= "//No Answer//"
        else
          h5= answers[index].text
          p= Math.round(answers[index].probability*100)+"%"