extends layout

block content
  section(class='header input-page')
    h2(class='title')= title
    p Please enter article contents
    div(class='container')
      form(method='POST' action='question')
        p(class="label") Contents:  
          textarea(class="contents", name="contents")
        p(class="label") URL (leave blank if using contents): 
          input(class="question", name="url")
        p(class="label") Question:  
          input(class="question", name="question")
        br
        button(class='button button-primary', type="submit") Find the answer
