extends layout

block content
  h1= title
  p Enter an article you'd like summarised
  form(method='POST' action='summary')
    p(class="label") Article contents:  
      textarea(class="contents", name="contents")
    button(type="submit") Summarise
